<!--    MENU    -->
<div class="row">
	<div class="large-3 columns">
		<%= render "shared/menu" %>
	</div>
<!--    MENU    -->


	<div class="large-7 columns">
		<section>
			<div class="row">
				<div id="frases" class="large-8 large-offset-2 columns">
					<p>La mayoría de los buenos programadores programan no porque esperan que les paguen o que el público los adore, sino porque programar es divertido.</p>
					<i>Linus Torvalds</i>
				</div>
			</div>

			<div class="row">
				<div class="nuevos-post large-8 large-offset-2 columns">
					<h4>Nuevos Post</h4>
					<div class="slider">
						<div class="orbit-container">
						  <ul data-orbit class="example-orbit orbit-slides-container">
						    <li>
						      <img src="http://placehold.it/1000x300/A92B48/fff" alt="slide 1" />
						      <div class="orbit-caption">
						        Caption One.
						      </div>
						    </li>
						    <li class="active">
						      <img src="http://placehold.it/1000x300/EE964D/fff" alt="slide 2" />
						      <div class="orbit-caption">
						        Caption Two.
						      </div>
						    </li>
						    <li>
						      <img src="http://placehold.it/1000x300/FDC43D/fff" alt="slide 3" />
						      <div class="orbit-caption">
						        Caption Three.
						      </div>
						    </li>
						  </ul>

						  <!-- Navigation Arrows -->
						  <a href="#" class="orbit-prev">Prev <span></span></a>
						  <a href="#" class="orbit-next">Next <span></span></a>

						  <!-- Slide Numbers -->
						  <div class="orbit-slide-number">
						    <span>1</span> of <span>3</span>
						  </div>

						  <!-- Timer and Play/Pause Button -->
						  <div class="orbit-timer">
						    <span></span>
						    <div class="orbit-progress"></div>
						  </div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>


<!--    PUBLICIDAD    -->
	<div class="large-2 columns">
		<%= render "shared/publicidad" %>
	</div>
</div>
<!--    PUBLICIDAD    -->


<div class="row">
	<div class="large-12 columns mas-visitados">
		<h4>Mas Visitados</h4>

  	<% 3.times do %>
			<div class="large-4 columns minipost">
				<div class="row">
					<h5>C: Funciones. Pasaje de parámetros por valor y por referencia</h5>
				</div>

				<div class="row">
					<%= image_tag("img01.png") %>
				</div>

				<div class="row">
					<div class="large-4 columns detalles">
						<span>
							<i class="fa fa-calendar"></i><p>Septh, 05th, 2013</p>
						</span>
						<span>
							<i class="fa fa-comments-o"></i><p>5 Comments</p>
						</span>
						<span>
							<i class="fa fa-share"></i><p>24 Shares</p>
						</span>
					</div>
					<div class="large-8 columns descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus, lectus quis accumsan ultrices, sapien nibh sodales neque, vitae lacinia orci odio vel mauris. Sed eget egestas quam, id imperdiet quam. In eleifend tempor erat, eget scelerisque tellus imperdiet nec. Fusce ornare porttitor ante.</p>
					</div>
				</div>

				<div class="row etiquetas">
					<i class="fa fa-tag"></i><p>Html5</p>
					<i class="fa fa-tag"></i><p>CSS3</p>
					<i class="fa fa-tag"></i><p>Jquery</p>
				</div>
			</div>
  	<% end %>

	</div>
</div>


<div class="row">
	<div class="large-12 columns otros-post">
		<h4>Otros Post</h4>

		<% 3.times do %>
			<div class="large-4 columns minipost">
				<div class="row">
					<h5>C: Funciones. Pasaje de parámetros por valor y por referencia</h5>
				</div>

				<div class="row">
					<%= image_tag("img01.png") %>
				</div>

				<div class="row">
					<div class="large-4 columns detalles">
						<span>
							<i class="fa fa-calendar"></i><p>Septh, 05th, 2013</p>
						</span>
						<span>
							<i class="fa fa-comments-o"></i><p>5 Comments</p>
						</span>
						<span>
							<i class="fa fa-share"></i><p>24 Shares</p>
						</span>
					</div>
					<div class="large-8 columns descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus, lectus quis accumsan ultrices, sapien nibh sodales neque, vitae lacinia orci odio vel mauris. Sed eget egestas quam, id imperdiet quam. In eleifend tempor erat, eget scelerisque tellus imperdiet nec. Fusce ornare porttitor ante.</p>
					</div>
				</div>

				<div class="row etiquetas">
					<i class="fa fa-tag"></i><p>Html5</p>
					<i class="fa fa-tag"></i><p>CSS3</p>
					<i class="fa fa-tag"></i><p>Jquery</p>
				</div>
			</div>
  	<% end %>
	</div>
</div>

