$verde: #82AD38;

nav{
	position: fixed;
	text-align:right;
	max-width: 220px;
	.logo{
		border:2px solid #AAA;
		width: 10em;
		background:#fff;
	}

	p{
		border-top:2px solid #E0E0E0;
		border-bottom:2px solid #E0E0E0;
		font-size: 0.8rem;
		margin: 10px 0px;
		padding: 5px 0px;
	}

// - - - MENU - - - //
	ul{
		margin:0;
		li{
			margin: 15px 0px;
			font-weight: bold;
			font-size: 0.8rem;
			line-height: 1.1em;
			text-transform: uppercase;
			
			a{
				color:#000;
				padding:7px 0px;
			}

			a:hover{
				color:$verde;
				text-decoration: none;
			}

			i{padding-left:3px;font-size:1.1em;}
		}
		.submenu{
			display: none;
		 	li{
				font-weight: normal;
				font-style: italic;
				&:hover{color:$verde;}
			}
		}
	}

// - - FIN DE MENU - - //


// - - - BUSCADOR - - - //
	#searchbox{
		min-height: 37px;
		margin:15px 0 20px 0;
		.buscador{
			float: right;
			width: 83%;
		}
		.search_btn {
			float: right;
			font-size: 1.1rem;
			padding: 7px 8px;
			background: #000;
		}
	}
// - - FIN DE BUSCADOR - - //

	.iconos-sociales{
		a{
			color:#000;
			font-size: 1.4rem;
			margin-left: 10px;
			text-decoration: none;
			&:hover{color:$verde;}
		}
	}
}

@import "foundation/components/orbit";