*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

html{
	height: 100%;
}

body{
	height: 100%;	
	background:#EFEFEF;
	padding-top:20px;
}

.row{min-width:100% !important;}


// - - - - SECTION - - - - //
#frases{
	background:#fff url(comillas.png) no-repeat 100%;
	padding:20px;
	height:auto;
	font-size: 17px;
	border:2px solid #DDD;
	text-align:right;
	p{text-align:left;}
}

.nuevos-post{
	text-align:center;
	margin-top: 50px;
	.slider{
		height:250px;
		border:2px solid #000;
	}
}
// - - FIN DE SECTION - - //



.mas-visitados,.otros-post{
	margin-top:60px;
	text-align:center;

}

// - - - MUESTRAS DE POST - - - //
.minipost{
	background:#fff;
	margin: 0 0.5%;
	width: 32.3%;
	h5{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		background:#82AD38;
		font-size: 15px;
		padding:5px 15px 5px 5px;
		font-weight: bold;
		color: #fff;
		margin: 0px;
	}
	img{width:100%;}
	p{font-size:11px;}
	.detalles{
		text-align: center;
		border-right:1px solid #E5E5E5;
		margin:10px 0;
		padding:0;
		span{
			display: block;
			text-align: left;
			text-indent: 5px;
			height: 20px;
			line-height: 20px;
			i,p{display:inline-block;}
			p{margin:0;}
			i{font-size: 12px;}
		}
	}
	.descripcion{
		height: 70px;
		margin: 10px 0;
		overflow: hidden;
		text-align:left;
		p{padding-right:20px;}
	}
	.etiquetas{
		text-align:left;
		border-top:1px solid #E5E5E5;
		padding:5px 0;
		p,i{
			display:inline-block;
			padding-left:10px;
			font-size: 13px;
			margin: 0;
		}
	}

}

// - FIN DE MUESTRAS DE POST - //

aside{
	background:#fff;
	border:2px solid #09D;
	height:600px;
}



// - - - - FOOTER - - - - //
footer{
	background:#3F3F3F;
	height:50px;
	line-height:50px;
	margin-top:80px;
	text-align:right;
	img{
		width: 150px;
	}
}
// - - FIN DE FOOTER - - //

